Repository owid/etl, pull requests merged in 2023-09, with the labels that each got.

#1591 🐛 wizard: missing field in metadata
  apps/wizard/templating/cookiecutter/garden/{{cookiecutter.namespace}}/{{cookiecutter.version}}/{{cookiecutter.short_name}}.meta.yml
Labels: bug, wizard

#1587 Add fur ban data
  apps/wizard/templating/garden.py
  apps/wizard/templating/meadow.py
  dag/animal_welfare.yml
  etl/helpers.py
  etl/steps/data/garden/animal_welfare/2023-09-08/fur_laws.meta.yml
  etl/steps/data/garden/animal_welfare/2023-09-08/fur_laws.py
  etl/steps/data/grapher/animal_welfare/2023-09-08/fur_laws.py
  etl/steps/data/meadow/animal_welfare/2023-09-08/fur_laws.py
  snapshots/animal_welfare/2023-09-08/fur_laws.pdf.dvc
  snapshots/animal_welfare/2023-09-08/fur_laws.py
Labels: data

#1531 📜 metadata v2
  apps/wizard/templating/snapshot.py
  docs/architecture/metadata/reference.md
  docs/architecture/metadata/workflow.md
  docs/css/extra.css
  docs/ignore/gen_metadata_reference.py
  docs/tutorials/index.md
  etl/docs.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  schemas/dataset-schema.json
  schemas/definitions.json
Labels: documentation

#1593 📜 fix minor wizard bugs
  apps/wizard/templating/cookiecutter/garden/{{cookiecutter.namespace}}/{{cookiecutter.version}}/{{cookiecutter.short_name}}.meta.yml
Labels: wizard

#1589 :tada: script for moving archived steps to their own folder
  .flake8
  .vscode/settings.json
  etl/helpers.py
  etl/paths.py
  etl/snapshot.py
  etl/steps/__init__.py
  pyproject.toml
  scripts/move_steps_to_archive.py
Labels: maintenance, devex

#1620 🐛 wizard: fix some issues
  .gitignore
  apps/wizard/templating/cookiecutter/garden/{{cookiecutter.namespace}}/{{cookiecutter.version}}/playground.ipynb
  apps/wizard/templating/cookiecutter/garden/{{cookiecutter.namespace}}/{{cookiecutter.version}}/{{cookiecutter.short_name}}.meta.yml
  apps/wizard/templating/cookiecutter/meadow/{{cookiecutter.namespace}}/{{cookiecutter.version}}/playground.ipynb
  apps/wizard/templating/cookiecutter/snapshot/{{cookiecutter.namespace}}/{{cookiecutter.snapshot_version}}/{{cookiecutter.short_name}}.{{cookiecutter.file_extension}}.dvc
  apps/wizard/templating/garden.py
  apps/wizard/templating/grapher.py
  apps/wizard/templating/meadow.py
  apps/wizard/templating/snapshot.py
  apps/wizard/utils.py
Labels: wizard

#1630 🐛 wizard: metadata in snapshot, add spinner, etl-wizard entry page
  apps/wizard/app.py
  apps/wizard/templating/cookiecutter/snapshot/{{cookiecutter.namespace}}/{{cookiecutter.snapshot_version}}/{{cookiecutter.short_name}}.{{cookiecutter.file_extension}}.dvc
  apps/wizard/templating/snapshot.py
Labels: wizard

#1640 🐛 wizard: remove licenses field
  apps/wizard/templating/cookiecutter/snapshot/{{cookiecutter.namespace}}/{{cookiecutter.snapshot_version}}/{{cookiecutter.short_name}}.{{cookiecutter.file_extension}}.dvc
  apps/wizard/templating/snapshot.py
Labels: bug, wizard

#1659 ✨ wizard: minor enhancements
  apps/wizard/templating/cookiecutter/snapshot/{{cookiecutter.namespace}}/{{cookiecutter.snapshot_version}}/{{cookiecutter.short_name}}.{{cookiecutter.file_extension}}.dvc
  schemas/definitions.json
Labels: wizard, metadata

#1586 ✨ war: checks and documentation on regions
  etl/steps/data/garden/war/2023-06-22/ucdp.meta.yml
  etl/steps/data/garden/war/2023-06-22/ucdp.py
  etl/steps/data/garden/war/2023-07-07/mars.meta.yml
  etl/steps/data/garden/war/2023-07-07/mars.py
  etl/steps/data/garden/war/2023-07-18/cow.meta.yml
  etl/steps/data/garden/war/2023-07-18/cow.py
  etl/steps/data/garden/war/2023-07-20/brecke.meta.yml
  etl/steps/data/garden/war/2023-07-20/brecke.py
  etl/steps/data/garden/war/2023-07-21/prio_v31.meta.yml
  etl/steps/data/garden/war/2023-07-21/prio_v31.py
  etl/steps/data/garden/war/2023-08-05/cow_mid.meta.yml
  etl/steps/data/garden/war/2023-08-05/cow_mid.py
  etl/steps/data/garden/war/2023-08-15/mie.meta.yml
  etl/steps/data/garden/war/2023-08-15/mie.py
  etl/steps/data/garden/war/2023-09-21/brecke.meta.yml
  etl/steps/data/garden/war/2023-09-21/brecke.py
  etl/steps/data/garden/war/2023-09-21/cow.meta.yml
  etl/steps/data/garden/war/2023-09-21/cow.py
  etl/steps/data/garden/war/2023-09-21/cow_mid.meta.yml
  etl/steps/data/garden/war/2023-09-21/cow_mid.py
  etl/steps/data/garden/war/2023-09-21/mars.meta.yml
  etl/steps/data/garden/war/2023-09-21/mars.py
  etl/steps/data/garden/war/2023-09-21/mie.meta.yml
  etl/steps/data/garden/war/2023-09-21/mie.py
  etl/steps/data/garden/war/2023-09-21/prio_v31.meta.yml
  etl/steps/data/garden/war/2023-09-21/prio_v31.py
  etl/steps/data/garden/war/2023-09-21/ucdp.meta.yml
  etl/steps/data/garden/war/2023-09-21/ucdp.py
  etl/steps/data/meadow/war/2023-06-07/cow.py
Labels: data

#1631 📊 hmd: add data
  dag/demography.yml
  etl/steps/data/garden/excess_mortality/latest/excess_mortality/__init__.py
  etl/steps/data/garden/excess_mortality/latest/excess_mortality/input.py
  etl/steps/data/garden/excess_mortality/latest/hmd_stmf.meta.yml
  etl/steps/data/garden/excess_mortality/latest/hmd_stmf.py
  etl/steps/data/garden/excess_mortality/latest/wmd.meta.yml
  etl/steps/data/garden/excess_mortality/latest/wmd.py
  etl/steps/data/garden/excess_mortality/latest/xm_karlinsky_kobak.meta.yml
  etl/steps/data/garden/excess_mortality/latest/xm_karlinsky_kobak.py
  etl/steps/data/garden/hmd/2022-11-04/life_tables.py
  etl/steps/data/garden/hmd/2023-09-19/hmd.countries.json
  etl/steps/data/garden/hmd/2023-09-19/hmd.excluded_countries.json
  etl/steps/data/garden/hmd/2023-09-19/hmd.meta.yml
  etl/steps/data/garden/hmd/2023-09-19/hmd.py
  etl/steps/data/grapher/hmd/2023-09-19/hmd.py
  etl/steps/data/meadow/excess_mortality/latest/hmd_stmf.py
  etl/steps/data/meadow/excess_mortality/latest/wmd.py
  etl/steps/data/meadow/excess_mortality/latest/xm_karlinsky_kobak.py
  etl/steps/data/meadow/hmd/2022-11-04/life_tables.py
  etl/steps/data/meadow/hmd/2023-09-19/hmd.py
  snapshots/hmd/2023-09-18/hmd.py
  snapshots/hmd/2023-09-18/hmd.zip.dvc
  snapshots/hmd/2023-09-19/hld.py
  snapshots/hmd/2023-09-19/hld.zip.dvc
Labels: data

#1684 📜 instructions to maintain `owid-catalog`
  docs/dev/update-catalog.md
  mkdocs.yml
Labels: documentation

#1658 📊 countries: add system state lists (snapshots)
  snapshots/countries/2023-09-22/cow_ssm.py
  snapshots/countries/2023-09-22/cow_ssm_majors.csv.dvc
  snapshots/countries/2023-09-22/cow_ssm_states.csv.dvc
  snapshots/countries/2023-09-22/cow_ssm_system.csv.dvc
  snapshots/countries/2023-09-22/gleditsch.py
  snapshots/countries/2023-09-22/gleditsch_microstates.dat.dvc
  snapshots/countries/2023-09-22/gleditsch_states.dat.dvc
  snapshots/countries/2023-09-22/isd.py
  snapshots/countries/2023-09-22/isd.xlsx.dvc
Labels: data

#1673 📊 hmd: iteration 2
  etl/steps/data/garden/hmd/2023-09-19/hmd.meta.yml
  etl/steps/data/garden/hmd/2023-09-19/hmd.py
  etl/steps/data/grapher/hmd/2023-09-19/hmd.py
  etl/steps/data/meadow/hmd/2023-09-19/hmd.py
  snapshots/hmd/2023-09-18/hmd.zip.dvc
  snapshots/hmd/2023-09-19/hld.zip.dvc
Labels: data
