Repository owid/etl, pull requests merged in 2023-10, with the labels that each got.

#1697 🎉 add a way to debug when having metadata issues
  lib/catalog/owid/catalog/tables.py
Labels: devex

#1680 📊 demography: survivorship ages
  dag/demography.yml
  etl/steps/data/garden/demography/2023-09-27/survivor_percentiles.meta.yml
  etl/steps/data/garden/demography/2023-09-27/survivor_percentiles.py
  etl/steps/data/grapher/demography/2023-09-27/survivor_percentiles.py
  poetry.lock
  pyproject.toml
Labels: data

#1701 📊 war: new dataset, metadata upgrade, new indicators
  dag/main.yml
  dag/war.yml
  etl/helpers.py
  etl/snapshot.py
  etl/steps/data/garden/countries/2023-09-29/cow_ssm.meta.yml
  etl/steps/data/garden/countries/2023-09-29/cow_ssm.py
  etl/steps/data/garden/countries/2023-09-29/cow_ssm.yml
  etl/steps/data/garden/war/2023-09-21/brecke.py
  etl/steps/data/garden/war/2023-09-21/cow.meta.yml
  etl/steps/data/garden/war/2023-09-21/cow.py
  etl/steps/data/garden/war/2023-09-21/cow_mid.meta.yml
  etl/steps/data/garden/war/2023-09-21/cow_mid.py
  etl/steps/data/garden/war/2023-09-21/mars.py
  etl/steps/data/garden/war/2023-09-21/mie.meta.yml
  etl/steps/data/garden/war/2023-09-21/mie.py
  etl/steps/data/garden/war/2023-09-21/prio_v31.py
  etl/steps/data/garden/war/2023-09-21/shared.py
  etl/steps/data/garden/war/2023-09-21/ucdp.py
  etl/steps/data/grapher/countries/2023-09-29/cow_ssm.py
  etl/steps/data/grapher/war/2023-09-21/brecke.py
  etl/steps/data/grapher/war/2023-09-21/cow.py
  etl/steps/data/grapher/war/2023-09-21/cow_mid.py
  etl/steps/data/grapher/war/2023-09-21/mars.py
  etl/steps/data/grapher/war/2023-09-21/mie.py
  etl/steps/data/grapher/war/2023-09-21/prio_v31.py
  etl/steps/data/grapher/war/2023-09-21/ucdp.py
  etl/steps/data/meadow/war/2023-09-21/brecke.py
  etl/steps/data/meadow/war/2023-09-21/cow.py
  etl/steps/data/meadow/war/2023-09-21/cow_mid.py
  etl/steps/data/meadow/war/2023-09-21/mars.py
  etl/steps/data/meadow/war/2023-09-21/mie.py
  etl/steps/data/meadow/war/2023-09-21/prio_v31.py
  etl/steps/data/meadow/war/2023-09-21/ucdp.py
  lib/catalog/owid/catalog/tables.py
  snapshots/countries/2023-09-22/cow_ssm_majors.csv.dvc
  snapshots/countries/2023-09-22/cow_ssm_states.csv.dvc
  snapshots/countries/2023-09-22/cow_ssm_system.csv.dvc
Labels: data, metadata

#1703 📊 isd, gw: number of countries in each region
  dag/main.yml
  etl/steps/data/garden/countries/2023-09-25/gleditsch.meta.yml
  etl/steps/data/garden/countries/2023-09-25/gleditsch.py
  etl/steps/data/garden/countries/2023-09-25/isd.meta.yml
  etl/steps/data/garden/countries/2023-09-25/isd.py
  etl/steps/data/garden/countries/2023-09-25/shared.py
  etl/steps/data/grapher/countries/2023-10-01/gleditsch.py
  etl/steps/data/grapher/countries/2023-10-01/isd.py
  snapshots/countries/2023-09-22/gleditsch_microstates.dat.dvc
  snapshots/countries/2023-09-22/gleditsch_states.dat.dvc
  snapshots/countries/2023-09-22/isd.xlsx.dvc
Labels: data

#1690 📊 demography: gini life expectancy inequality
  dag/archive/demography.yml
  dag/demography.yml
  etl/steps/data/garden/demography/2023-09-29/gini_le.meta.yml
  etl/steps/data/garden/demography/2023-09-29/gini_le.py
  etl/steps/data/garden/demography/2023-10-04/gini_le.meta.yml
  etl/steps/data/garden/demography/2023-10-04/gini_le.py
  etl/steps/data/grapher/demography/2023-09-29/gini_le.py
  etl/steps/data/grapher/demography/2023-10-04/gini_le.py
Labels: data

#1735 🐛 war: fix bug in number of new conflicts with hostility=all
  etl/steps/data/garden/war/2023-09-21/cow_mid.py
Labels: bug, data

#1734 📊 demography: life tables
  dag/demography.yml
  etl/steps/data/garden/demography/2023-10-03/life_tables.meta.yml
  etl/steps/data/garden/demography/2023-10-03/life_tables.py
  etl/steps/data/garden/hmd/2023-09-19/hmd.meta.yml
  etl/steps/data/grapher/demography/2023-10-04/life_tables.py
Labels: data

#1739 :bug: demography: minor snapshot fixes
  snapshots/un/2023-10-02/un_wpp_lt_all.zip.dvc
  snapshots/un/2023-10-02/un_wpp_lt_f.zip.dvc
  snapshots/un/2023-10-02/un_wpp_lt_m.zip.dvc
Labels: metadata

#1720 📊 demography: phi-gender life expectancy inequality
  dag/demography.yml
  etl/steps/data/garden/demography/2023-10-03/phi_gender_le.meta.yml
  etl/steps/data/garden/demography/2023-10-03/phi_gender_le.py
  etl/steps/data/grapher/demography/2023-10-03/life_tables.py
  etl/steps/data/grapher/demography/2023-10-03/phi_gender_le.py
Labels: data

#1755 🐛 wizard: minor fixes
  .vscode/launch.json
  apps/wizard/templating/cookiecutter/snapshot/{{cookiecutter.namespace}}/{{cookiecutter.snapshot_version}}/{{cookiecutter.short_name}}.{{cookiecutter.file_extension}}.dvc
  apps/wizard/templating/snapshot.py
  schemas/definitions.json
Labels: documentation, wizard

#1732 📊 population: estimate former USSR population using estimates on current countries
  etl/data_helpers/population.py
  etl/steps/data/garden/demography/2023-03-31/population/__init__.py
  etl/steps/data/garden/demography/2023-03-31/population/gapminder_sg.py
  etl/steps/data/garden/un/2022-07-11/un_wpp/__init__.py
  etl/steps/data/garden/un/2022-07-11/un_wpp/dtypes.py
Labels: data

#1830 📜 fix hierarchy error in indicator name
  docs/architecture/metadata/faqs.md
Labels: documentation

#1833 📜 fix indicator name usage
  docs/architecture/metadata/faqs.md
Labels: documentation

#1848 ✨ wizard: add tag field in garden, fix license options
  apps/wizard/templating/cookiecutter/garden/{{cookiecutter.namespace}}/{{cookiecutter.version}}/{{cookiecutter.short_name}}.meta.yml
  apps/wizard/templating/garden.py
  apps/wizard/utils.py
  etl/db.py
  etl/grapher_model.py
  schemas/definitions.json
Labels: wizard

#1851 📊 war: add dataset on deaths by combining ucdp and prio
  dag/war.yml
  etl/steps/data/garden/war/2023-09-21/ucdp.meta.yml
  etl/steps/data/garden/war/2023-09-21/ucdp.py
  etl/steps/data/garden/war/2023-10-24/ucdp_prio.meta.yml
  etl/steps/data/garden/war/2023-10-24/ucdp_prio.py
  etl/steps/data/grapher/war/2023-10-24/ucdp_prio.py
Labels: data

#1874 ✨ wizard: add tags as a requirement
  apps/wizard/templating/garden.py
  apps/wizard/utils.py
Labels: wizard
