Repository owid/etl, pull requests merged in 2024-02, with the labels that each got.

#2291 🐛 wizard: KeyError in dictionary access in Harmonizer
  apps/wizard/pages/harmonizer.py
Labels: bug, wizard

#2292 :bar_chart: add missing fasttrack datasets
  dag/fasttrack.yml
  etl/steps/data/grapher/fasttrack/2023-08-07/animal_lives_per_kilogram.meta.yml
  etl/steps/data/grapher/fasttrack/2023-08-07/animal_lives_per_kilogram.py
  etl/steps/data/grapher/fasttrack/latest/baxter_2013_gbd_adult_coverage.meta.yml
  etl/steps/data/grapher/fasttrack/latest/baxter_2013_gbd_adult_coverage.py
  snapshots/fasttrack/2023-08-07/animal_lives_per_kilogram.csv.dvc
  snapshots/fasttrack/latest/baxter_2013_gbd_adult_coverage.csv.dvc
Labels: coderabbit

#2287 🎉 wizard: add metadata-export, love to chart revision
  apps/wizard/etl_steps/garden.py
  apps/wizard/etl_steps/grapher.py
  apps/wizard/etl_steps/meadow.py
  apps/wizard/etl_steps/snapshot.py
  apps/wizard/pages/charts/__main__.py
  apps/wizard/pages/charts/init_config.py
  apps/wizard/pages/charts/search_config.py
  apps/wizard/pages/charts/submission.py
  apps/wizard/pages/charts/utils.py
  apps/wizard/pages/charts/variable_config.py
  apps/wizard/pages/dataset_explorer.py
  apps/wizard/utils/__init__.py
  apps/wizard/utils/env.py
  etl/chart_revision/v2/chartgpt.py
  etl/chart_revision/v2/core.py
  etl/match_variables.py
  etl/metadata_export.py
Labels: wizard

#2345 :hammer: repurpose ENV for environment and rename ENV to ENV_FILE
  apps/wizard/config/__init__.py
  apps/wizard/config/config.yml
  apps/wizard/pages/dataset_explorer.py
  apps/wizard/pages/harmonizer.py
  etl/config.py
Labels: coderabbit
